
@{
    ViewBag.Title = "Thông tin sản phẩm";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<div class="product-content-right">

    <!--Chi tiết sản phẩm-->
    @{ Html.RenderAction("detail", "product", new { id = ViewBag.id }); }

    <!--Sản phẩm có liên quan-->
    @{ Html.RenderAction("relatedproduct", "product", new { id = ViewBag.id }); }
</div>
