<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <img src="/Assets/admin/img/logo/logo.png">
        </div>
        <div class="sidebar-brand-text mx-3">Mobile World</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" href="/admin">
            <i class="fas fa-home"></i>
            <span>Trang chủ</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Hệ thống
    </div>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("index", "users")">
            <i class="fas fa-users"></i>
            <span>Thành viên</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("index", "catalog")">
            <i class="fas fa-fw fa-table"></i>
            <span>Sản phẩm</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Quản lý
    </div>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("index", "brand")">
            <i class="far fa-copyright"></i>
            <span>Quản lý thương hiệu</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/History">
            <i class="far fa-plus-square"></i>
            <span>Quản lý nhập hàng</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Bill">
            <i class="fas fa-shopping-cart"></i>
            <span>Quản lý đơn hàng</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Báo cáo
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/Admin/Statistical?name=san-pham">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Doanh thu</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/homeshop">
            <i class="fab fa-fw fa-wpforms"></i>
            <span>Trang chủ cửa hàng</span>
        </a>
    </li>
    <div class="version" id="version-ruangadmin"></div>
</ul>
