@model List<Model.Models.CartItem>

@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

@section scriptFooterChild {
    <script src="~/Assets/admin/js/plugins/bootbox.min.js"></script>
    <script src="~/Assets/user/js/myJs/cartTable1.js"></script>
}

<div class="product-content-right">
    <div class="product-content-right">
        <div class="woocommerce">
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>@TempData["Message"] !</strong>
                </div>
            }
            <!--Table product-->
            @{ Html.RenderAction("tableproduct", "cart", new { list = Model }); }
            <div class="cart-collaterals">

                <div class="cross-sells">
                    <h2>Bạn có thể quan tâm đến ...</h2>
                    <ul class="products">
                        @{ Html.RenderAction("InterestedProduct", "cart");}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
