@model List<Model.EF.Catalog>

@foreach (var item in Model)
{
    <div class="single-wid-product">
        <a href="/product/index/@item.id">
            <img src="@item.pictureuri"
                 alt=""
                 class="product-thumb" />
        </a>
        <h2><a href="/product/index/@item.id">@item.name</a></h2>
        <div class="product-wid-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <div class="product-wid-price">
            <ins>@string.Format("{0:0,0 VNĐ}", item.price)</ins>
        </div>
    </div>
}
