
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section slide {
    @{Html.RenderAction("slideheader", "homeshop");}
}
<div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo1">
                    <i class="fa fa-refresh"></i>
                    <p>Đổi trả 30 ngày</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo2">
                    <i class="fa fa-truck"></i>
                    <p>Giao hàng miễn phí</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo3">
                    <i class="fa fa-lock"></i>
                    <p>Thanh toán bảo mật</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo4">
                    <i class="fa fa-gift"></i>
                    <p>Quà tặng hấp dẫn</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End promo area -->

@{ Html.RenderAction("CatalogNewest", "homeshop");}
<!-- End main content area -->

<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <div class="brand-list">
                        @{ Html.RenderAction("SlideBrand", "homeshop");}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End brands area -->

<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Tất cả sản phẩm</h2>
                    <a href="/homeshop/catalog" class="wid-view-more">Xem tất cả</a>
                    @{ Html.RenderAction("FooterProduct", "homeshop");}
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Điện thoại</h2>
                    <a href="/homeshop/catalog?typeid=1" class="wid-view-more">Xem tất cả</a>
                    @{ Html.RenderAction("FooterProduct", "homeshop", new { typeId = 1});}
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Laptop</h2>
                    <a href="/homeshop/catalog?typeid=2" class="wid-view-more">Xem tất cả</a>
                    @{ Html.RenderAction("FooterProduct", "homeshop", new { typeId = 2 });}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End product widget area -->
