<div class="footer-top-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2><span>Mobile World</span></h2>
                    <p>
                        Shop Mobile World với phương châm "Đồng hành cùng phong cách thượng lưu của bạn"
                        sẽ là nơi mua sắm an toàn và uy tín, bởi chúng tôi luôn đề cao tiêu chí mang đến
                        cho quý khách những sản phẩm chất lượng nhất với giá cả luôn phải chăng.
                    </p>
                    <div class="footer-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Điều hướng</h2>
                    <ul>
                        @{
                            var session = (MobileWorld.common.UserSession)Session["USER_SESSION"];
                            if (session != null)
                            {
                                <li><a href="/user/profile/@session.UserId">Tài khoản của tôi</a></li>
                                <li><a href="/user/historyorder/@session.UserId">Lịch sử mua hàng</a></li>
                            }
                            else
                            {
                                <li><a href="#">Tài khoản của tôi</a></li>
                            }
                        }

                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Thể loại</h2>
                    <ul>
                        <li><a href="/homeshop/catalog?typeid=1">Điện thoại</a></li>
                        <li><a href="/homeshop/catalog?typeid=2">Laptop</a></li>
                        <li><a href="#">Phụ kiện</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-newsletter">
                    <h2 class="footer-wid-title">Bảng tin</h2>
                    <p>
                        Đăng ký nhận bản tin của chúng tôi và nhận các ưu đãi độc quyền mà bạn 
                        sẽ không tìm thấy bất cứ nơi nào khác trực tiếp đến hộp thư đến của bạn!
                    </p>
                    <div class="newsletter-form">
                        <form action="#">
                            <input type="email" placeholder="Nhập email của bạn" />
                            <input type="submit" value="Đăng ký" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End footer top area -->

<div class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright">
                    <p>
                        &copy; 2020 Mobile World.
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="footer-card-icon">
                    <i class="fab fa-cc-discover"></i>
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-cc-paypal"></i>
                    <i class="fab fa-cc-visa"></i>
                </div>
            </div>
        </div>
    </div>

</div>
