<div class="mynavbar">
    <a class="active" href="#">
        <img src="~/Assets/admin/img/logo/logo.png" width="50"/>
        Mobile World
    </a>
    <div class="search-container">
        <form action="/action_page.php">
            <input id="search" type="text" placeholder="Tìm sản phẩm, thương hiệu và tên shop ..." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <ul class="d-flex flex-row">
            <li>
                <a href="#">Trang chủ</a>
            </li>
            <li>
                <a href="#">Điện thoại</a>
            </li>
            <li>
                <a href="#">Laptop</a>
            </li>
            <li>
                <a href="#">Liên hệ</a>
            </li>
        </ul>
    </div>
    <ul class="navlinks">
        <li><a href="#">Tài khoản</a></li>
        <li>
            <a href="#" class="shopping-item">
                <span>
                    Cart - <span class="cart-amunt">$100</span>
                    <i class="fa fa-shopping-cart"></i>
                    <span class="product-count">5</span>
                </span>
            </a>
        </li>
    </ul>
</div>
