
    <div class="mynavbar">
        <a class="myactive logo" href="/">
            <img src="~/Assets/admin/img/logo/logo.png" width="50" />
            Mobile World
        </a>
        
        <div class="search-container">
            <form action="/action_page.php">
                <input id="search" type="text" placeholder="Tìm sản phẩm, thương hiệu và tên shop ..." autocomplete="off" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <ul class="mystyleul">
                <li>
                    <a href="/">Trang chủ</a>
                </li>
                <li>
                    <a href="@Url.Action("catalog", "homeshop", new { typeid = 1 })" id="dienthoai">Điện thoại</a>
                </li>
                <li>
                    <a href="@Url.Action("catalog", "homeshop", new { typeid = 2 })" id="laptop">Laptop</a>
                </li>
                <li>
                    <a href="#">Liên hệ</a>
                </li>
                <li>
                    @{
                        var session = (MobileWorld.common.UserSession)Session["USER_SESSION"];
                        var text = "";
                        var name = "";
                        if (session == null) { text = "Đăng nhập"; } else { text = "Đăng xuất"; name = session.UserName; }
                    }
                    <a href="/login" id="linklogin"></a>
                    <a href="#" id="login">@text</a>
                </li>
            </ul>
        </div>
        <ul class="navlinks">
            <li>
                <a href="#" class="greeting" id="greeting">Xin chào @name</a>
            </li>
            <li>
                <a href="#" class="shopping-item">
                    <span>
                        Giỏ hàng
                        <i class="fa fa-shopping-cart"></i>
                        <span class="product-count">5</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
