table {
    text-align: center;
}
.lockup {
    width: 75px !important;
}
td p{
    width: 250px;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.tb-brand tr{
    height: 50px;
    line-height: 50px;
}

.mobile::before {
    content: '';
    background: #1cc88a;
    padding: 0 11px;
    margin: 0 5px 0 38px;
}

.laptop::before {
    content: '';
    background: #36b9cc;
    padding: 0 11px;
    margin: 0 5px 0 60px;
}