table {
    text-align: center;
}
.lockup {
    width: 75px !important;
}
td p{
    width: 250px;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.tb-brand tr{
    height: 50px;
    line-height: 50px;
}

.active {
    background: #ccc;
}